<div class="container mt-5 p-3"  *ngIf="!user">
    <div class="row justify-content-center">
          <div class="col-12 col-md-5 col-lg-4 p-3 d-flex justify-content-center text-center">
            <div style="cursor: pointer;" routerLink="/login">
              <img src="https://img.icons8.com/bubbles/500/enter-2.png" width="100%" alt="">
              <h1>Inicia sesión</h1>
            </div>
          </div>
          <div class="col-12 col-md-1 col-lg-2">
  
          </div>
          <div class="col-12 col-md-5 col-lg-4 p-3 d-flex justify-content-center text-center">
            <div  style="cursor: pointer;" routerLink="/registro">
              <img src="https://img.icons8.com/bubbles/500/add-user-male.png"  width="100%" alt="">
              <h1>Registrarse</h1>
            </div>
          </div>
    </div>
</div>
<div class="container mt-5 p-3" *ngIf="user">
    <h1>Bienvenido</h1>
</div>
<app-loading *ngIf="loading"></app-loading>
