.btnDiv {
    cursor: pointer;
    width: 80%;
    height: 70px;
    border: 4px solid white;
    border-radius: 10px;
}

.btnText {
    margin-top: 2%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(61, 61, 61);
}

.btnDiv:hover {
    scale: 1.01;
}
