<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li><a class="nav-link px-2" routerLink="/home">Home</a></li>
  <li><a class="nav-link px-2" routerLink="/login">login</a></li>
  <li><a class="nav-link px-2" routerLink="/registro">registro</a></li>
  <li><a class="nav-link px-2" routerLink="/usuario">seccion-usuarios</a></li>
</ul>
<div *ngIf="user$ | async as user;">
  <div class="text-end">
    <button type="button" class="btn btn-warning" (click)="logout()">Salir</button>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<router-outlet></router-outlet>