<div style="height: 100%;">
  <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <!--<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>-->
    
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2 text-white" routerLink="/home">Home</a></li>
            <li *ngIf="esAdmin"><a class="nav-link px-2 text-white" routerLink="/usuario/admin/mi-perfil">Mi Perfil</a></li>
            <li *ngIf="esAdmin"><a class="nav-link px-2 text-white" routerLink="/usuario/admin/usuarios">Usuarios</a></li>
            <li *ngIf="esAdmin"><a class="nav-link px-2 text-white" routerLink="/usuario/admin/turnos">Turnos</a></li>
            <li *ngIf="esEspecialista"><a class="nav-link px-2 text-white" routerLink="/usuario/especialista/mi-perfil">Mi Perfil</a></li>
            <li *ngIf="esEspecialista"><a class="nav-link px-2 text-white" routerLink="/usuario/especialista/mis-turnos">Mis Turnos</a></li>
            <li *ngIf="esEspecialista"><a class="nav-link px-2 text-white" routerLink="/usuario/especialista/pacientes">Pacientes</a></li>
            <li *ngIf="esPaciente"><a class="nav-link px-2 text-white" routerLink="/usuario/paciente/mi-perfil">Mi Perfil</a></li>
            <li *ngIf="esPaciente"><a class="nav-link px-2 text-white" routerLink="/usuario/paciente/mis-turnos">Mis Turnos</a></li>
          </ul>

    
          <!--<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form>-->

          <div *ngIf="esAdmin || esPaciente || esEspecialista">
            <div class="text-end">
              <button type="button" class="btn btn-warning" (click)="logout()">Salir</button>
            </div>
          </div>
    
          <!--<div *ngIf="user$ | async as user;">
            <div class="text-end">
              <button type="button" class="btn btn-warning" (click)="logout()">Salir</button>
            </div>
          </div>-->

        </div>
      </div>
    </header>
    <router-outlet></router-outlet>
</div>

<app-loading *ngIf="loading"></app-loading>
