<div class="container col-lg-3 mt-5">
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="row justify-content-center">
          <h1 class="text-center mt-4 mb-5">Iniciar Sesion</h1>
            <div class="col-10 mb-3">
                <label>Correo</label>
                <input type="text" placeholder="Ingrese su correo" class="form-control" formControlName="email">
                <span *ngIf="form.get('email').hasError('required') && form.get('email').touched" class="text-danger error-labe">* El correo es requerido</span>
                  <span *ngIf="form.get('email').hasError('email') && form.get('email').touched" class="text-danger error-labe">* El correo es invalido</span>
              </div>
            <div class="col-10 mb-3">
                <label>Contraseña</label>
                <input type="password" placeholder="Ingrese su contraseña" class="form-control" formControlName="password">
                <span *ngIf="form.get('password').hasError('required') && form.get('password').touched" class="text-danger error-labe">* La contraseña es requerida</span>
            </div>  

            <div class="col-8 alert alert-danger d-flex align-items-center" role="alert" *ngIf="firebaseError">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                {{ firebaseErrorText }}
            </div>
            </div>

            <div class="col-5 mt-3 mb-4  d-flex justify-content-center px-5">
              <button class="btn btn-primary"  type="submit" [disabled]="!form.valid">Ingresar</button>
            </div>
            <p class="text-center mb-5">¿No tienes cuenta? <a routerLink="/registro">Registrarse</a></p>
            <!-- <button type="button" class="btn btn-outline-danger btn-sm acceso-directo" (click)="completarLogin2('biwafod878@eazenity.com')" style="margin: 20px 5px;">ADMIN</button>
            <button type="button" class="btn btn-outline-danger btn-sm acceso-directo" (click)="completarLogin2('holoyob204@glalen.com')" style="margin: 20px 5px;">PACIENTE</button>
            <button type="button" class="btn btn-outline-danger btn-sm acceso-directo" (click)="completarLogin2('fipefev753@glalen.com')" style="margin: 20px 5px;">ESPECIALISTA</button> -->
        </div>
      </form>
    </div>
  </div>


    <!-- 
      <button mat-fab matTooltip="Primary" class="fabButton" aria-label="Example fab with a heart icon">
      <mat-icon style="width: 50px; height: 40px; font-size: 40px;">account_circle</mat-icon>
    </button>

     -->

    <app-speed-dial-fab (newItemEvent)="completarLogin3($event)"></app-speed-dial-fab>