
<div class="row mt-4">
  <div class="col-1"></div>
  <div class="col-4">
    <button class="btn btn-primary mx-2" (click)="mostrarPacientes = !mostrarPacientes" [disabled]="mostrarPacientes">Pacientes</button>
    <button class="btn btn-primary mx-2" (click)="mostrarPacientes = !mostrarPacientes" [disabled]="!mostrarPacientes">Especialistas</button>
  </div>   
  <div class="col-5">
      
  </div>   
  <div class="col-2">
    <button class="btn btn-success" (click)="descargarExcel()">Exportar a Excel</button>
  </div>   
</div>


<!--<div class="container col-lg-8 mt-4">
  <div class="card">
    <h1 class="text-center mt-3">Lista de usuarios</h1>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" *ngFor="let item of usuarios">
        <h2 class="accordion-header" [attr.id]="'flush-heading'+ item.id">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse' + item.id" aria-expanded="false" [attr.aria-controls]="'flush-collapse' + item.id">
            {{ item.apellido + ' ' + item.nombre + ' (' + item.email + ') ' + item.activo }}
          </button>
        </h2>
        <div [attr.id]="'flush-collapse' + item.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading' + item.id" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <img [src]="item.imagenes ? item.imagenes[0] : ''" class="img-thumbnail" alt="..." width="100px" height="100px">
            <button class="btn btn-success" *ngIf="!item.activo" (click)="activarUsuario(item)">Activar Usuario</button>
            <button class="btn btn-danger" *ngIf="item.activo" (click)="desactivarUsuario(item)">Desactivar Usuario</button>
          </div>
        </div>
      </div>-->
      <!--<div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Accordion Item #2
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>-->
   <!-- </div>
  </div>
</div>-->




<div class="container col-lg-8 mt-4" *ngIf="mostrarPacientes">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 card m-4 p-3" *ngFor="let item of pacientesHistorias">
      <div class="row">
        <div class="col-10 mb-2">
          <h3>{{ item.paciente.apellido + ' ' + item.paciente.nombre }}</h3>
        </div>
        <div class="col-2">
          <button class="btn btn-success" *ngIf="!item.paciente.activo" (click)="activarUsuario(item.paciente)">X</button>
          <button class="btn btn-danger" *ngIf="item.paciente.activo" (click)="desactivarUsuario(item.paciente)">X</button>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <img [src]="item.paciente.imagenes ? item.paciente.imagenes[0] : ''" class="img-thumbnail" alt="..." width="150px" height="150px">
        </div>
        <div class="col-7">
          <span>DNI: {{ item.paciente.dni}}</span><br>
          <span>Edad: {{ item.paciente.edad}}</span><br>
          <span>Email: {{ item.paciente.email}}</span><br>
          <span>Obra Social: {{ item.paciente.obraSocial}}</span><br>
        </div>
        <button class="btn btn-success" (click)="generatePdf(item.paciente)">Exportar a pdf</button>
      </div>
    </div>
  </div>
</div>



<!--<div class="container col-lg-8 mt-4" *ngIf="mostrarPacientes">
  <div class="card">
    <h1 class="text-center mt-3">Lista de Pacientes</h1>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" *ngFor="let item of pacientesHistorias">
        <h2 class="accordion-header" [attr.id]="'flush-heading'+ item.paciente.id">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse' + item.paciente.id" aria-expanded="false" [attr.aria-controls]="'flush-collapse' + item.paciente.id">
            {{ item.paciente.apellido + ' ' + item.paciente.nombre + ' (' + item.paciente.email + ') ' + item.paciente.activo }}
          </button>
        </h2>
        <div [attr.id]="'flush-collapse' + item.paciente.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading' + item.paciente.id" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <img [src]="item.paciente.imagenes ? item.paciente.imagenes[0] : ''" class="img-thumbnail" alt="..." width="100px" height="100px">
            <button class="btn btn-success" *ngIf="!item.paciente.activo" (click)="activarUsuario(item.paciente)">Activar Usuario</button>
            <button class="btn btn-danger" *ngIf="item.paciente.activo" (click)="desactivarUsuario(item.paciente)">Desactivar Usuario</button>


            <ng-container *ngIf="item.historias">
              <h2>Historias Clinicas</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Especialista</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let historia of item.historias, index as i">
                    <td>{{ i + 1}}</td>
                    <td>{{ historia.especialidad }}</td>
                    <td>{{ formatearEspecialista(historia.especialista) }}</td>
                    <td>{{ formatearFecha(historia.fecha) }}</td>
                    <td>{{ formatearHora(historia.fecha) }}</td>
                    <td>
                      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDetalle" (click)="openModalDetalle(historia)">Ver Detalle</button>
                  </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container col-lg-8 mt-4" *ngIf="!mostrarPacientes">
  <div class="card">
    <h1 class="text-center mt-3">Lista de Especialistas</h1>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" *ngFor="let item of especialistas">
        <h2 class="accordion-header" [attr.id]="'flush-heading'+ item.id">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse' + item.id" aria-expanded="false" [attr.aria-controls]="'flush-collapse' + item.id">
            {{ item.apellido + ' ' + item.nombre + ' (' + item.email + ') ' + item.activo }}
          </button>
        </h2>
        <div [attr.id]="'flush-collapse' + item.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading' + item.id" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <img [src]="item.imagenes ? item.imagenes[0] : ''" class="img-thumbnail" alt="..." width="100px" height="100px">
            <button class="btn btn-success" *ngIf="!item.activo" (click)="activarUsuario(item)">Activar Usuario</button>
            <button class="btn btn-danger" *ngIf="item.activo" (click)="desactivarUsuario(item)">Desactivar Usuario</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="modalDetalle" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <ng-container *ngIf="historiaDetalle">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Detalle Historia Clinica</h2>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
              <div class="row justify-content-center">

                  <h3>Historia Clinica</h3>

                  <span>Fecha: {{ formatearFecha(historiaDetalle.fecha) }}</span>
                  <span>Especialidad: {{ historiaDetalle.especialidad }}</span>
                  <span>Especialidad: {{ formatearEspecialista(historiaDetalle.especialista) }}</span>
                  <span>Altura: {{ historiaDetalle.altura }}</span>
                  <span>Peso: {{ historiaDetalle.peso }}</span>
                  <span>Temperatura: {{ historiaDetalle.temperatura }}</span>
                  <span>Presion: {{ historiaDetalle.presion }}</span>
                  <span *ngIf="historiaDetalle.clave1">{{historiaDetalle.clave1 + ': ' + historiaDetalle.valor1 }}</span>
                  <span *ngIf="historiaDetalle.clave2">{{historiaDetalle.clave2 + ': ' + historiaDetalle.valor2 }}</span>
                  <span *ngIf="historiaDetalle.clave3">{{historiaDetalle.clave3 + ': ' + historiaDetalle.valor3 }}</span>

              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModalDetalle()">Cerrar</button>
        </div>
      </div>
    </ng-container>
    </div>
</div>

<!--
<app-loading *ngIf="loading"></app-loading>
-->