<div class="row mt-4">
    <div class="col-1">
    </div>   
    <div class="col-4">
        <div class="card">
          <label>Filtro: </label>
          <input type="text" placeholder="Ingrese su contraseña" class="form-control" [(ngModel)]="palabraFiltro" (change)="filtrarTurnos()">
        </div>
    </div>   
    <div class="col-5">
        
    </div>   
    <div class="col-2">
    </div>   
</div>

<div class="container col-lg-10 mt-4 p-3">
    <div class="card">
        <div class="row justify-content-center">
          <h1 class="text-center mt-3">Mis Turnos</h1>
          <div class="container p-5">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Especialidad</th>
                  <th scope="col">Paciente</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let turno of turnosCompletos | filtroTurnos: palabraFiltro, index as i">
                  <td>{{ i + 1}}</td>
                  <td>{{ turno.especialidad }}</td>
                  <td>{{ formatearEspecialista(turno.paciente.email) }}</td>
                  <td>{{ formatearFecha(turno.fecha) }}</td>
                  <td>{{ formatearHora(turno.fecha) }}</td>
                  <td style="text-transform: uppercase;">{{ turno.estado }}</td>
                  <td>
                    <button class="btn btn-danger" *ngIf="turno.estado != 'cancelado' && turno.estado != 'rechazado' && turno.estado != 'aceptado' && turno.estado != 'finalizado'" data-bs-toggle="modal" data-bs-target="#modalCancelar" (click)="openModalCancelar(turno)">Cancelar</button>
                    <button class="btn btn-warning mx-1" *ngIf="turno.estado != 'cancelado' && turno.estado != 'rechazado' && turno.estado != 'aceptado' && turno.estado != 'finalizado'" data-bs-toggle="modal" data-bs-target="#modalRechazar" (click)="openModalRechazar(turno)">Rechazar</button>
                    <button class="btn btn-info" *ngIf="turno.estado != 'cancelado' && turno.estado != 'rechazado' && turno.estado != 'aceptado' && turno.estado != 'finalizado'" (click)="aceptarTurno(turno)">Aceptar</button>
                    <button class="btn btn-success" *ngIf="turno.estado == 'aceptado'" data-bs-toggle="modal" data-bs-target="#modalFinalizar" (click)="openModalFinalizar(turno)">Finalizar</button>
                </td>
                  <td>
                    <button class="btn btn-primary" *ngIf="turno.estado === 'cancelado' || turno.estado === 'rechazado' || turno.estado === 'finalizado'" data-bs-toggle="modal" data-bs-target="#modalDetalle" (click)="openModalDetalle(turno)">Ver Detalle</button>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
            
        </div>
    </div>
  </div>

  <!-- CANCELAR -->

  <div class="modal fade" id="modalCancelar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Cancelar Turno</h2>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <label for="message-text" class="col-form-label">¿Por que cancela el turno?</label>
                <textarea [(ngModel)]="comentarioCancelado" class="form-control" id="message-text"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModalCancelar()">Cerrar</button>
            <button type="button" class="btn btn-primary" [disabled]="comentarioCancelado === ''" data-bs-dismiss="modal" (click)="cancelarTurno()">Aceptar</button>
          </div>
        </div>
      </div>
  </div>

  <!-- RECHAZAR -->

  <div class="modal fade" id="modalRechazar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Rechazar Turno</h2>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <label for="message-text" class="col-form-label">¿Por que rechaza el turno?</label>
                <textarea [(ngModel)]="comentarioRechazado" class="form-control" id="message-text"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModalRechazar()">Cerrar</button>
            <button type="button" class="btn btn-primary" [disabled]="comentarioRechazado === ''" data-bs-dismiss="modal" (click)="rechazarTurno()">Aceptar</button>
          </div>
        </div>
      </div>
  </div>

    <!-- FINALIZAR -->

    <div class="modal fade" id="modalFinalizar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Finalizar Turno</h2>
            </div>
            <div class="modal-body">
              <form [formGroup]="formFinalizar" (ngSubmit)="finalizarTurno()">
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col-12 mb-3">
                      <label for="message-text" class="col-form-label">Comentario</label>
                      <textarea  formControlName="comentario" class="form-control" id="message-text"></textarea>
                      <span *ngIf="formFinalizar.get('comentario').hasError('required') && formFinalizar.get('comentario').touched" class="text-danger error-labe">* Campo requerido</span>
                    </div>
                    <div class="col-6 mb-3">
                      <label>Altura</label>
                      <input type="number" placeholder="Ingrese altura" class="form-control" formControlName="altura">
                      <span *ngIf="formFinalizar.get('altura').hasError('required') && formFinalizar.get('altura').touched" class="text-danger error-labe">* La altura es requerida</span>
                    </div>
                    <div class="col-6 mb-3">
                      <label>Peso</label>
                      <input type="number" placeholder="Ingrese peso" class="form-control" formControlName="peso">
                      <span *ngIf="formFinalizar.get('peso').hasError('required') && formFinalizar.get('peso').touched" class="text-danger error-labe">* El peso es requerido</span>
                    </div>
                    <div class="col-6 mb-3">
                      <label>Temperatura</label>
                      <input type="number" placeholder="Ingrese temperatura" class="form-control" formControlName="temperatura">
                      <span *ngIf="formFinalizar.get('temperatura').hasError('required') && formFinalizar.get('temperatura').touched" class="text-danger error-labe">* La temperatura es requerida</span>
                    </div>
                    <div class="col-6 mb-3">
                      <label>Presion</label>
                      <input type="number" placeholder="Ingrese presion" class="form-control" formControlName="presion">
                      <span *ngIf="formFinalizar.get('presion').hasError('required') && formFinalizar.get('presion').touched" class="text-danger error-labe">* La presion es requerida</span>
                    </div>

                    <div class="row col-6"  *ngIf="!agregarDato1" (click)="agregarDato1Click()">
                      <button class="btn btn-danger">Agregar Dato</button>
                    </div>
                    
                    <div class="row m-2 border border-secondary" *ngIf="agregarDato1">
                      <div class="col-6 mb-3">
                        <label>Dato adicinal 1</label>
                        <input type="text" placeholder="Ingrese dato adicional" class="form-control" formControlName="clave1">
                        <span *ngIf="formFinalizar.get('clave1').hasError('required') && formFinalizar.get('clave1').touched" class="text-danger error-labe">* Campo requerido</span>
                      </div>
                      <div class="col-6 mb-3">
                        <label>Valor</label>
                        <input type="number" placeholder="Ingrese valor" class="form-control" formControlName="valor1">
                        <span *ngIf="formFinalizar.get('valor1').hasError('required') && formFinalizar.get('valor1').touched" class="text-danger error-labe">* Campo requerido</span>
                      </div>
                    </div>


                    <div class="row col-6"  *ngIf="agregarDato1 && !agregarDato2" (click)="agregarDato2Click()">
                      <button class="btn btn-danger">Agregar Dato</button>
                    </div>

                    <div class="row m-2 border border-secondary" *ngIf="agregarDato2">
                      <div class="col-6 mb-3">
                        <label>Dato adicinal 2</label>
                        <input type="text" placeholder="Ingrese dato adicional" class="form-control" formControlName="clave2">
                        <span *ngIf="formFinalizar.get('clave2').hasError('required') && formFinalizar.get('clave2').touched" class="text-danger error-labe">* Campo requerido</span>
                      </div>
                      <div class="col-6 mb-3">
                        <label>Valor</label>
                        <input type="number" placeholder="Ingrese valor" class="form-control" formControlName="valor2">
                        <span *ngIf="formFinalizar.get('valor2').hasError('required') && formFinalizar.get('valor2').touched" class="text-danger error-labe">* Campo requerido</span>
                      </div>
                    </div>

                    <div class="row col-6" *ngIf="agregarDato1 && agregarDato2 && !agregarDato3">
                      <button class="btn btn-danger" (click)="agregarDato3Click()">Agregar Dato</button>
                    </div>

                    <div class="row m-2 border border-secondary" *ngIf="agregarDato3">
                      <div class="col-6 mb-3">
                        <label>Dato adicinal 3</label>
                        <input type="text" placeholder="Ingrese dato adicional" class="form-control" formControlName="clave3">
                        <span *ngIf="formFinalizar.get('clave3').hasError('required') && formFinalizar.get('clave3').touched" class="text-danger error-labe">* Campo requerido</span>
                      </div>
                      <div class="col-6 mb-3">
                        <label>Valor</label>
                        <input type="number" placeholder="Ingrese valor" class="form-control" formControlName="valor3">
                        <span *ngIf="formFinalizar.get('valor3').hasError('required') && formFinalizar.get('valor3').touched" class="text-danger error-labe">* Campo requerido</span>
                      </div>
                    </div>
                    
                  </div>
                </div>
             </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModalFinalizar()">Cerrar</button>
              <button type="button" class="btn btn-primary" [disabled]="!formFinalizar.valid" data-bs-dismiss="modal" (click)="finalizarTurno()">Aceptar</button>
            </div>
          </div>
        </div>
    </div>


    <div class="modal fade" id="modalDetalle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <ng-container *ngIf="turnoDetalle">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Detalle Turno</h2>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                  <div class="row justify-content-center">

                    <h3><b>Datos Pacientes</b></h3>
                    <span>Nombre: {{ turnoDetalle.paciente.nombre }}</span><br>
                    <span>Apellido: {{ turnoDetalle.paciente.apellido }}</span><br>
                    <span>DNI: {{ turnoDetalle.paciente.dni }}</span><br>
                    <span>Edad: {{ turnoDetalle.paciente.edad }}</span><br>
                    <span>Obra Social: {{ turnoDetalle.paciente.obraSocial }}</span><br><br>

                    <h3><b>Detalle Especialista</b></h3>
                    <span>Nombre: {{ turnoDetalle.especialista.nombre }}</span><br>
                    <span>Apellido: {{ turnoDetalle.especialista.apellido }}</span><br>
                    <span>Especialidad: {{ turnoDetalle.especialidad }}</span><br><br>

                    <ng-container *ngIf="turnoDetalle.estado === 'cancelado'">
                      <h3 style="color: crimson;"><b>CANCELADO</b></h3>
                      <span><b class="font-weight-bold">Cancelado por</b>: {{ turnoDetalle.cancelado[0] === turnoDetalle.especialista.email ? turnoDetalle.especialista.apellido + ', ' + turnoDetalle.especialista.nombre : turnoDetalle.paciente.apellido + ', ' + turnoDetalle.paciente.nombre }}</span><br>
                      <span><b>Comentario</b>: {{ turnoDetalle.cancelado[1] }}</span>
                    </ng-container>

                    <ng-container *ngIf="turnoDetalle.estado === 'rechazado'">
                      <h3 style="color: red;"><b>RECHAZADO</b></h3>
                      <span><b>Comentario</b>: {{ turnoDetalle.rechazado }}</span>
                    </ng-container>

                    <ng-container *ngIf="turnoDetalle.estado === 'finalizado'">
                      <h3 style="color: green;"><b>FINALIZADO</b></h3>
                      <span><b>Comentario</b>: {{ turnoDetalle.finalizado }}</span>

                      <h3>Historia Clinica</h3>
                      <span>Altura: {{ turnoDetalle.historia.altura }}</span>
                      <span>Peso: {{ turnoDetalle.historia.peso }}</span>
                      <span>Temperatura: {{ turnoDetalle.historia.temperatura }}</span>
                      <span>Presion: {{ turnoDetalle.historia.presion }}</span>
                      <span *ngIf="turnoDetalle.historia.clave1">{{turnoDetalle.historia.clave1 + ': ' + turnoDetalle.historia.valor1 }}</span>
                      <span *ngIf="turnoDetalle.historia.clave2">{{turnoDetalle.historia.clave2 + ': ' + turnoDetalle.historia.valor2 }}</span>
                      <span *ngIf="turnoDetalle.historia.clave3">{{turnoDetalle.historia.clave3 + ': ' + turnoDetalle.historia.valor3 }}</span>

                    </ng-container>
 
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModalDetalle()">Cerrar</button>
            </div>
          </div>
        </ng-container>
        </div>
    </div>




    <app-loading *ngIf="loading"></app-loading>
    