<!--<div class="container col-lg-8 mt-4">
    <div class="card">
      <h1 class="text-center mt-3">Mis Pacientes</h1>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item" *ngFor="let item of pacientesHistorias">
          <h2 class="accordion-header" [attr.id]="'flush-heading'+ item.paciente.id">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse' + item.paciente.id" aria-expanded="false" [attr.aria-controls]="'flush-collapse' + item.paciente.id">
              {{ item.paciente.apellido + ' ' + item.paciente.nombre }}
            </button>
          </h2>
          <div [attr.id]="'flush-collapse' + item.paciente.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading' + item.paciente.id" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let historia of item.historias, index as i">
                        <td>{{ i + 1}}</td>
                        <td>{{ historia.especialidad }}</td>
                        <td>{{ formatearFecha(historia.fecha) }}</td>
                        <td>{{ formatearHora(historia.fecha) }}</td>
                        <td>
                          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDetalle" (click)="openModalDetalle(historia)">Ver Detalle</button>
                      </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->


  <div class="container col-lg-12 mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 card mx-3 my-2 p-2" *ngFor="let item of pacientesTurnos">
        <div class="row">
          <div class="col-10 mb-2">
            <h3>{{ item.paciente.apellido + ' ' + item.paciente.nombre }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <img [src]="item.paciente.imagenes ? item.paciente.imagenes[0] : ''" class="img-thumbnail" alt="..." width="150px" height="150px">
          </div>
          <div class="col-7">
            <span>DNI: {{ item.paciente.dni}}</span><br>
            <span>Edad: {{ item.paciente.edad}}</span><br>
            <span>Email: {{ item.paciente.email}}</span><br>
            <span>Obra Social: {{ item.paciente.obraSocial}}</span><br>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Especialidad</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let turno of item.turnos | ultimasTurnos, index as i">
                  <td>{{ i + 1}}</td>
                  <td>{{ turno.especialidad }}</td>
                  <td>{{ formatearFecha(turno.fecha) }}</td>
                  <td>{{ formatearHora(turno.fecha) }}</td>
                  <td>{{ turno.estado }}</td>
                  <td>
                    <button *ngIf="turno.historia" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDetalle" (click)="openModalDetalle(turno.historia)">Ver</button>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  <div class="modal fade" id="modalDetalle" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <ng-container *ngIf="historiaDetalle">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Detalle Historia Clinica</h2>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                <div class="row justify-content-center">

                    <h3>Historia Clinica</h3>

                    <span>Fecha: {{ formatearFecha(historiaDetalle.fecha) }}</span>
                    <span>Especialidad: {{ historiaDetalle.especialidad }}</span>
                    <span>Altura: {{ historiaDetalle.altura }}</span>
                    <span>Peso: {{ historiaDetalle.peso }}</span>
                    <span>Temperatura: {{ historiaDetalle.temperatura }}</span>
                    <span>Presion: {{ historiaDetalle.presion }}</span>
                    <span *ngIf="historiaDetalle.clave1">{{historiaDetalle.clave1 + ': ' + historiaDetalle.valor1 }}</span>
                    <span *ngIf="historiaDetalle.clave2">{{historiaDetalle.clave2 + ': ' + historiaDetalle.valor2 }}</span>
                    <span *ngIf="historiaDetalle.clave3">{{historiaDetalle.clave3 + ': ' + historiaDetalle.valor3 }}</span>

                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModalDetalle()">Cerrar</button>
          </div>
        </div>
      </ng-container>
      </div>
  </div>



  
  <app-loading *ngIf="loading"></app-loading>