<div class="container col-lg-8 mt-4">
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="registrar()">
        <div class="row justify-content-center">
          <h1 class="text-center my-3">Registro de Paciente</h1>
            <div class="col-5 mb-3">
              <label>Nombre</label>
              <input type="text" placeholder="Ingrese su nombre" class="form-control" formControlName="nombre">
              <span *ngIf="form.get('nombre').hasError('required') && form.get('nombre').touched" class="text-danger error-labe">* El nombre es requerido</span>
              <span *ngIf="form.get('nombre').hasError('pattern') && form.get('nombre').touched" class="text-danger error-labe">* El nombre es invalido</span>
            </div>
            <div class="col-5 mb-3">
              <label>Apellido</label>
              <input type="text" placeholder="Ingrese su apellido" class="form-control" formControlName="apellido">
              <span *ngIf="form.get('apellido').hasError('required') && form.get('apellido').touched" class="text-danger error-labe">* El apellido es requerido</span>
              <span *ngIf="form.get('apellido').hasError('pattern') && form.get('apellido').touched" class="text-danger error-labe">* El apellido es invalido</span>
            </div>
            <div class="col-5 mb-3">
              <label>DNI</label>
              <input type="text" placeholder="Ingrese su DNI" class="form-control" formControlName="dni">
              <span *ngIf="form.get('dni').hasError('required') && form.get('dni').touched" class="text-danger error-labe">* El DNI es requerido</span>
              <span *ngIf="(form.get('dni').hasError('pattern') || form.get('dni').hasError('minlength') || form.get('dni').hasError('maxlength')) && form.get('dni').touched" class="text-danger error-labe">* El DNI es invalido</span>
            </div>
            <div class="col-5 mb-3">
              <label>Edad</label>
              <input type="number" class="form-control" formControlName="edad">
              <span *ngIf="form.get('edad').hasError('required') && form.get('edad').touched" class="text-danger error-labe">* La edad es requerida</span>
              <span *ngIf="(form.get('edad').hasError('min') || form.get('edad').hasError('max')) && form.get('edad').touched" class="text-danger error-labe">* La edad es invalida</span>
            </div>
            <div class="col-6 col-lg-7 mb-3" *ngIf="!obraSocialCheck.checked">
              <label>Obra Social</label>
              <select class="form-select" formControlName="obraSocial">
                <option selected value="" disabled>Seleccione...</option>
                <option [value]="o.nombre" *ngFor="let o of obrasSociales">{{ o.nombre }}</option>
              </select>
              <span *ngIf="form.get('obraSocial').hasError('required') && form.get('obraSocial').touched" class="text-danger error-labe">* La obra social es requerida</span>
            </div>
            <div class="col-6 col-lg-7 mb-3" *ngIf="obraSocialCheck.checked">
              <label>Obra social</label>
              <input type="text" placeholder="Ingrese su obra social" class="form-control" formControlName="obraSocial">
              <span *ngIf="form.get('obraSocial').hasError('required') && form.get('obraSocial').touched" class="text-danger error-labe">* La obra social es requerida</span>
            </div>
            <div class="col-4 col-lg-3 d-flex justify-content-center align-items-center">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="true" #obraSocialCheck>
                <label class="form-check-label" for="flexSwitchCheckDefault">Ingresar otra obra social</label>
              </div>
            </div>
            <div class="col-10 mb-3">
              <label>Correo</label>
              <input type="text" placeholder="Ingrese su correo" class="form-control" formControlName="email">
              <span *ngIf="form.get('email').hasError('required') && form.get('email').touched" class="text-danger error-labe">* El correo es requerido</span>
              <span *ngIf="form.get('email').hasError('email') && form.get('email').touched" class="text-danger error-labe">* El correo es invalido</span>
            </div>
            <div class="col-5 mb-3">
              <label>Contraseña</label>
              <input type="password" placeholder="Ingrese su contraseña" class="form-control" formControlName="password">
              <span *ngIf="form.get('password').hasError('required') && form.get('password').touched" class="text-danger error-labe">* La contraseña es requerida</span>
              <span *ngIf="form.get('password').hasError('minlength') && form.get('password').touched" class="text-danger error-labe">* Debe tener al menos 6 letras</span>
            </div>
            <div class="col-5 mb-3">
              <label>Repetir contraseña</label>
              <input type="password" placeholder="Repita su contraseña" class="form-control" formControlName="repeatPassword">
              <span *ngIf="form.get('repeatPassword').hasError('required') && form.get('repeatPassword').touched" class="text-danger error-labe">* Repita la contraseña</span>
            </div>
            <div class="col-10 mb-3">
              <label>Fotos</label>
              <input type="file" class="form-control" multiple (change)="onSelectFile($event)" formControlName="imagen">
              <span *ngIf="form.get('imagen').hasError('required') && form.get('imagen').touched" class="text-danger error-labe">* Ingrese dos fotos</span>
              <span *ngIf="error2Fotos" class="text-danger error-labe">* Debe ingresar dos fotos</span>
            </div>
            <div class="col-3 mb-4  d-flex justify-content-center">
              <button class="btn btn-primary"  type="submit" [disabled]="!form.valid">Registrar</button>
            </div>
            <p class="text-center mb-4">¿Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesion</a></p>
        </div>
      </form>
    </div>
  </div>

  <app-loading *ngIf="loading"></app-loading>